.product-normal{
  .title{
      margin:.2rem .2rem 0;
      padding-left:.8rem;
      width:6.3rem;
      height:.6rem;
      box-shadow: 1px 1px 3px 1px #ddd;
      background: #fff url(../static/img/niuren.png) .2rem .06rem no-repeat;
      background-size:.48rem .48rem;
      .word{
        width:1.4rem;
        line-height:.6rem;
        height:.6rem;
        font-size:.32rem;
        color:#F46A63;
        font-weight:bold;
      }
  }
  .box{
    display:flex;
    margin:.2rem;
    height:2rem;
    box-shadow: 1px 1px 3px 1px #ddd;
    background:#fff;
    .teacher-img{
      box-sizing: border-box;
      padding:.2rem;
      width:1.8rem;
      height:2rem;
      text-align: center;
      img{
        display:block;
        margin:0 auto;
        width:.8rem;
        height:.8rem;
      }
      .name{
        height:.4rem;
        line-height:.4rem;
        font-size:.28rem;
      }
      .honor{
        height:.32rem;
        line-height:.32rem;
        color:#fff;
        background:#f6554b;
      }
    }
    .teacher-data{
      box-sizing: border-box;
      padding:.2rem;
      width:5.5rem;
      height:2rem;
      .up{
        height:.4rem;
        line-height:.4rem;
        .up1{
          display:inline-block;
          padding:0 .1rem;
          color:#fff;
          background:#c9a084;
        }
        .up2{
          display:inline-block;
          padding-left:.1rem;
        }
        .link{
          float:right;
          margin-top:-1px;
          padding:0 .1rem;
          height:.4rem;
          line-height:.4rem;
          color:#f24c4c;
          border:1px solid #f24c4c;
          border-radius:5px;
        }
      }
      .down{
        padding-top:.2rem;
        height:1.2rem;
        text-align: center;
        >div{
          float:left;
          span:nth-child(2){
            font-weight:bold;
            font-size:.32rem;
            color:red;
          }
        }
        span{
          display:block;
          height:.5rem;
          line-height:.5rem;
        }
        .down1{
          height:1rem;
          width:1.8rem;
        }
        .down3{
          height:1rem;
          width:1.8rem;
          border-left:1px solid #bbb;
        }
      }
    }
  }

}