.scroll-stock{
    box-sizing: border-box;
    padding-top:.2rem;
    height:3.2rem;
    overflow: hidden;
    .box{
        display:flex;
        justify-content: center;
        align-items: center;
        width:5.6rem;
        height:2.5rem;
        border-radius:5px;
        background:#ffffff;
        transform-origin: center center;
        transition: transform .5s;
        transform:scale(1,1);
        img{
            width:3rem;
            height:2rem;
        }
        div{
            padding-left:.1rem;
            width:2.1rem;
            height:2rem;
            display:flex;
            flex-direction:column;
            justify-content: space-between;
            align-items: flex-start;
            font-size:.2rem;
            font-weight:bold;
            p{
                white-space:nowrap;
            }
            .em{
                font-size:.22rem;
                color:#e14343;
            }
        }
    }
    .swiper-container{
        margin:0 auto;
        width:5.8rem;
        height:2.5rem;
        overflow:visible;
    }
    //.swiper-slide{
    //    display:flex;
    //    justify-content: center;
    //    align-items: center;
    //    box-sizing: border-box;
    //    height:2.5rem;
    //    .box{
    //        display:flex;
    //        justify-content: center;
    //        align-items: center;
    //        width:5.6rem;
    //        height:2.5rem;
    //        border-radius:5px;
    //        background:#ffffff;
    //        transform-origin: center center;
    //        transition: transform .5s;
    //        transform:scale(1,1);
    //        img{
    //            width:3rem;
    //            height:2rem;
    //        }
    //        div{
    //            padding-left:.1rem;
    //            width:2.1rem;
    //            height:2rem;
    //            display:flex;
    //            flex-direction:column;
    //            justify-content: space-between;
    //            align-items: flex-start;
    //            font-size:.2rem;
    //            font-weight:bold;
    //            p{
    //                white-space:nowrap;
    //            }
    //            .em{
    //                font-size:.22rem;
    //                color:#e14343;
    //            }
    //        }
    //    }
    //    &.swiper-slide-prev{
    //        display:flex;
    //        justify-content: flex-end;
    //        .box{
    //            transform-origin: right center;
    //            transform:scale(0.8,0.8);
    //        }
    //    }
    //    &.swiper-slide-next{
    //        display:flex;
    //        justify-content: flex-start;
    //        .box{
    //            transform-origin: left center;
    //            transform:scale(0.8,0.8);
    //        }
    //    }
    //}
    //.swiper-pagination{
    //    bottom:-.24rem;
    //    .swiper-pagination-bullet{
    //        width: .1rem;
    //        height: .1rem;
    //        display: inline-block;
    //        border-radius: .05rem;
    //        background: #fea1a1;
    //        opacity: 1;
    //        transition: width .5s;
    //        &.swiper-pagination-bullet-active{
    //            width: .2rem;
    //            background: #e14343;
    //        }
    //    }
    //}
}